<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<% content_for :image do %>
  <%= image_tag "hill.png", class: "page-fade" %>
<% end %>

<div class="row-fluid">
  <ul> <%= render @blog %> </ul>
</div>
