<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid">
  <div class="center">
    <%= image_tag "hill.png", style: "margin-left:-150px;opacity: 0.3;max-height:215px;position: fixed;margin-top:250px;" %>
  </div>
  <ul> <%= render @blog %> </ul>
</div>
