 <% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<div class="row-fluid">
  <div class="span5">
    <div id="article_form"></div>
    <ul>
      <%= render @articles %>
    </ul>
  </div>
    <%= image_tag "city.png", id: "city", class: 'page-fade' %>
</div>
