<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="container-fluid" id="alert-inline">
      <div class="alert alert-error" id="inline">
        The form contains <%= pluralize(object.errors.count, "error") %>.
      </div>
    </div>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
