<div id="modal-window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="_modal" aria-hidden="false">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Loading...</h3>
      </div>

      <div class="modal-body">
      </div> <!-- end content -->

      <div class="modal-footer">
        <button class='btn' data-dismiss='modal'>Close</button>
    </div>

  </div> <!-- end modal-content -->
</div>
