<div class="format">
  <p>
    Sam Raines actively rejects being called a musician.
    Lacking in formal training of any kind, this man from Malesus, Tennessee seems more focused on finding
    some sort of meaning in the tangle of life than becoming a modern Mozart,
    and it’s to that end that he picks up an acoustic guitar and steps up to a microphone.
    In spite of his obvious discomfort with what is quickly becoming inseparable to his identity, Raines’s musical abilities are superb.
  </p>

    <br>

  <p>
    Raines’s voice is as beautiful as it is booming. His songs can build up in a mountain of sound and dissipate
    like a breath in the cold moments later, leaving listeners present and eager to hear the dynamics they’ve tried
    but failed to anticipate thus far. In keeping with art over entertainment yet ultimately achieving both,
    his recordings capture the inside of a mind that attempts to make sense of struggles both private and universal,
    but he also exercises a knack for spotting our better angels and leaving an audience uplifted and inspired.
    Personable and humble both on the stage and off, the real gem is in Raines’s live show, which both commands and keeps your attention
    whether he is accompanied by a full band or all by himself.
  </p>

    <br>

  <p>
    Although reared in a musical household, including literally growing up in a music venue called Bluesister House Concerts,
    Raines’s interest in songwriting was not realized until his junior year of high school in 2006.
    Raines started writing songs with friends Nathan Couch and Landon Shivley after hearing some recordings they made,
    and collectively they became the band Sangfroid. Raines along with Couch, a singer-songwriter himself,
    and Shivley, a piano savant, found their musical zen in The Basement, a creative space they enjoyed frequenting at Couch’s grandparents’ house.
    Together they shared their first live performance at The Downtown Tavern in spring of 2007
    and nearly finished a self-titled album before parting ways later that summer.
  </p>

    <br>

  <p>
    Raines, yearning for the fulfillment brought on by musical collaboration, formed Seraplane in early 2008 with former band mate Shivley.
    They were joined by drummer Alex Jones, and the bass spot was filled first by Alden Coleman and later by Garrett Hinson.
    The band made a few unsuccessful attempts at recording an album together, and Jones and Hinson parted ways with the band in late 2009.
    Raines and Shivley continued Seraplane as a duo, honing their performing skills as they branched out over West Tennessee and beyond
    Working with producer Will Hadley, they released their debut recording, Seraplane E.P., in 2010, and two years later,
    they put out their self-produced album, Not What It Seams, as a free download.'
  </p>

    <br>

  <p>
    Hoping to continue the band and start a new chapter in his own life, Raines set his sights on Chicago.
    After some uncertainty as to what the other half of Seraplane would do, Shivley eventually decided to start grad school in Knoxville.
    Raines said goodbye to his good friend and relocated to Chicago alone in September of 2012.
    Performing only as Sam Raines, he explored the open mic scene all over the city and made a colorful cast of new friends.
    He also took the time to continue working on an album that he had been planning since 2007 and that he and Shivley had started recording in
    January of 2011 before putting on hold. However, with money running out, Raines was forced to move back to Tennessee after just two months.
    Disappointed, he doubled his efforts at completing the record that had already taken so long to finish.
  </p>

    <br>

  <p>
    Now, at the release of his debut solo album,Minutes Left, which includes instrumentation and creative input by
    Shivley, Hinson, and Jones as well as drummer Bo Kitzman, Raines is readying himself to step out of his musical cave.
    He is currently working with local singer-songwriters to help them record their original music,
    and he hopes to incorporate his recording skills into an independent record label he and his friends are working on putting together.
    As for his own music, Raines is happy for now with sharing the album he’s only just finished after first imagining it six years ago.
    Still, despite his obvious ambitions, the artist himself clearly feels detached from the musical labels being applied to him.
    To Raines, music is only the medium, a set of tools, and it’s with those tools that he hopes to not just entertain,
    but also release the hard-to-make-out thoughts and images he’s allowed to linger too long in his head.
  </p>
</div>
