<p><b>Yes, you can download this entire album for free.</b> However, you are also given the option to compensate me monetarily for the hundreds and hundreds of hours I spent recording, mixing, and mastering it. When mulling over your decision of whether to actually throw down some money or not, I want you to know that if you decide you can’t justify putting money down on something you could get for free, I’m not going to have any hard feelings against you.</p>

<br>

<p style="text-indent:1.5em;">Why? Well, I could point out the state of the music industry and the fact that recordings just aren’t profitable anymore. Truly, though, I just want to make sure that if you want to listen, or maybe you’re not sure if you want to or not but are willing to give it a chance, you can do so regardless of how many pieces of paper you have in your wallet or numbers you have in your bank account. <b>I might suggest, though, if you can’t pay this time around, it would be a big help and mean a lot to me if you were to introduce my music to five, maybe ten friends, if just for the fact that, “This guy lets you set your own price for his album!”</b></p>

<br>

<p style="text-indent:1.5em;">I do not do any of this for the purpose of making money. I enjoy doing it (most of the time). I want to form a connection with you through the music. I want you to think or feel differently based on your experience of listening to the album.</p>

<br>

<p style="text-indent:1.5em;">On the other hand, we live in a society fueled by capitalism. Perfect? Hardly. But it is simply a modern truth that in order to live comfortably and productively, you have to at least have some money. I don’t really care to be rich, and if your reason for withholding payment is that I am rich or will be made rich by album sales, I can assure you, that is not the case. It’s not the money I want. It’s the chance to live comfortably and productively by creating art. Is that selfish? I don’t know. It would definitely make me happy.</p>

<br>

<p style="text-indent 1.5em;">But again, if you don’t have the extra money to spend right now, that’s ok. You’ve got to eat. You’ve got to pay the rent. Or maybe you can only give a dollar or two? Anything is appreciated. But maybe you’re doing quite well for yourself and can afford to give more than the average price of an album? Your call. You are the one holding yourself accountable. Let your inner-voice decide what you feel comfortable doing.</p>

<br>

<p ><b>So, you tell me: In dollars and cents, how much is the album worth to you?</b></p>

<br>

<div class="center">
  <%= link_to "Donate", "https://paypal.com", class: "btn btn-large btn-primary", style: "display:inline;margin-right: 1.5em;" %>
  <%= link_to "Download", :download, class: "btn btn-large btn-success", style: "display:inline;" %>
</div>
