 <% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<% content_for :image do %>
  <div class="church page-image">
    <%= image_tag "church.png", class: "page-fade" %>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span6">
    <ul class="shows"> <%= render @shows %> </ul>
  </div>
</div>
