<ul class="media-icons">
  <li>
    <a id="facebook-icon" href="https://www.facebook.com/samuelgraines"
        title="Friend me on Facebook" target="_blank">
      <%= image_tag("facebook.png") %>
    </a>
  </li>
  <li>
    <a id="twitter-icon" href="https://twitter.com/SGRaines"
        title="Follow me on Twitter" target="_blank">
      <%= image_tag("twitter.png") %>
    </a>
  </li>
  <li>
    <a id="rss-icon" href="https://www.youtube.com/user/SamuelRaines"
        title="Subscribe to My YouTube" target="_blank">
      <%= image_tag("youtube.png") %>
    </a>
  </li>
  <li>
    <a id="rss-icon" href="/articles.atom" title="Subscribe to My News Feed">
      <%= image_tag("rss.png") %>
    </a>
  </li>
</ul>
